.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  // @media screen and (max-width: 768px) {
  //   justify-content: flex-start;
  //   margin-top: 5rem;
  //   margin-left: 10rem;
  //   height: auto;
  // }
  @media screen and (max-width: 768px) {
    margin-top: 3rem;
    height: auto;
  }
  @media screen and (max-width: 620px) {
    // height: auto;
    margin-top: 5rem;
    padding-bottom: 10rem;
  }
}
.grid-main {
  // margin-top: 16rem;
  display: grid;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: repeat(12, 9.6rem);
  grid-template-rows: repeat(auto-fill);

  @media screen and (max-width: 1336px) {
    grid-template-columns: repeat(10, 8rem);
  }

  @media screen and (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    padding: 0 5rem;
  }
  @media screen and (max-width: 768px) {
    width: 95%;
    // padding: 0;
  }
  @media screen and (max-width: 620px) {
    width: 95%;
    padding: 0;
  }
}
.grid-lists {
  display: grid;
  grid-template-columns: repeat(6, 9.6rem);
  grid-column-gap: 1.6rem;
  grid-row-gap: 5rem;

  @media screen and (max-width: 1336px) {
    grid-template-columns: repeat(6, 8rem);
  }

  @media screen and (max-width: 1080px) {
    margin-top: 4rem;
    grid-column-gap: 2.4rem;
    grid-template-columns: repeat(6, 9.6rem);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(6, 8rem);
    grid-column-gap: 1.6rem;
    margin-top: 3rem;
  }
  @media screen and (max-width: 620px) {
    grid-template-columns: repeat(3, 8rem);
  }
}
.about {
  grid-column: 4 / span 3;
  grid-row: 1;
}

.header-main {
  grid-column: 2 / 5;
  // position: fixed;
  // margin-left: 9.6rem;
  // transition: all 0.3s;
  // top: 50%;
  // transform: translateY(-50%);
  @media screen and (max-width: 1336px) {
    grid-column: 1 / 4;
    position: inherit;
    margin-left: 0;
  }
}
.content-main {
  grid-column: 6 / -2;

  @media screen and (max-width: 1336px) {
    grid-column: 5 / -1;
    padding-bottom: 4rem;
  }
  /* grid-row: 2; */
  @media screen and (max-width: 620px) {
    grid-column: span 3;
  }
}

// .content-main .day-log {
//   @media screen and (max-width: 540px) {
//     width: 100%;
//   }
// }
.log-list {
  grid-column: 5 / span 2;
  order: 3;
}
.project-list {
  grid-column: 1 / span 2;
  grid-row: 1;
  order: 1;
}
.blog-list {
  grid-column: 3 / span 2;
  order: 2;
}
.list {
  @media screen and (max-width: 768px) {
    grid-column: span 3;
  }
}
