.social {
  ul {
    margin-top: 0.8rem;
    list-style: none;
    li {
      display: inline-block;
      a {
        font-size: 2.4rem;
        padding-right: 1.5rem;
        color: black;
      }
      a:visited {
        color: black;
      }
      a:hover {
        color: #707070;
      }
    }
  }
}
